pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.0
seaborn==0.13.2
plotly==5.22.0
streamlit==1.36.0
geopandas==0.13.2
shapely==2.0.4
pyproj==3.6.1
requests==2.32.3
country_converter==1.2
scipy==1.13.1
pyarrow==16.1.0
kaleido==0.2.1